@import "variables";

html, * {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  background-color: #35363a;
  margin: 2rem;
  display: flex;
  justify-content: center;
}

#slider {
  max-width: 800px;
  width: 100%;
}

.slider-app__bar {
  width: 100%;
  height: 0.8em;
  background: rgba(0,0,0,.2);
  position: relative;
  cursor: pointer;
  border-radius: 0.4em;
}

.slider-app__thumb {
  width: 2.5em;
  height: 2.5em;
  background: $gr-main;
  position: absolute;
  top: 0.4em;
  z-index: 1;
  border: 0.8em solid $thumb;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  transition: border ease-in-out 0.1s;
  transform: translate(-50%, -50%);

  &-from {
    left: 0;
  }

  &-to {
    left: 100%;
  }

  &:hover {
    border: 6px solid $thumb;
  }

  &:active {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
  }

}

.slider-app__progress {
  width: 50%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(90deg, rgb(255, 229, 59) 0%, rgb(255, 37, 37) 100%);
  border-radius: 0.4em;
  position: relative;
}

.slider-app__tooltip {
  box-sizing: border-box;
  width: fit-content;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  position: absolute;
  top: auto;
  z-index: 1;
  box-shadow: 0.2em 1em 2em 0.1em rgba(0, 0, 0, 0.2);
  transform: translate(-50%);
  bottom: 2.2em;
  font-size: 1.2em;
  margin-top: 2.2em;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.5em;
    border-width: 0.5em;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent;
  }
}

.slider-app__rulers {
  width: 100%;
  height: 4.4em;
  position: relative;
  text-align: center;

  &-value {
    color: $gr-main;
    font-size: 1.5em;
    padding-top: 2em;
    position: absolute;
    cursor: pointer;
    transform: translate(-50%);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &::before {
      content: '';
      position: absolute;
      top: 0.8em;
      left: 50%;
      height: 1em;
      width: 0.1em;
      background: #686868;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.slider-app__config {
  display: flex;
  flex-direction: column;
  row-gap: 3em;
  padding-top: 3em;
}

.slider-app__toggle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 4em;
  row-gap: 1em;

  &-element {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-family: sans-serif;
  }

  &-name {
    color: $gr-main;
    cursor: pointer;
    font-size: 1.6em;
  }

  &-container {
    position: relative;
    display: inline-block;
    width: 6em;
    height: 3.4em;
    box-shadow: 2px 10px 20px 1px rgba(0, 0, 0, 0.2);
  }

  &-box {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &-btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: .4s;
    transition: .4s;

    &::before {
      position: absolute;
      content: "";
      height: 2.6em;
      width: 2.6em;
      left: 0.4em;
      bottom: 0.4em;
      background-color: $gr-main;
      -webkit-transition: .4s;
      transition: .4s;
      opacity: 0.4;
    }
  }

  &-box:focus + &-btn {
    box-shadow: 0 0 0.1em #2196F3;
    outline: 0.1em solid gray;
  }

  &-box:checked + &-btn::before {
    -webkit-transform: translateX(2.6em);
    -ms-transform: translateX(2.6em);
    transform: translateX(2.6em);
    opacity: 1;
  }
}

.slider-app__control {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3em;
  row-gap: 1em;
  justify-content: center;
  &-element {
    width: 14em;
    height: 3.4em;
    display: flex;
    position: relative;
    font-family: sans-serif;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 10px 20px 1px rgba(0, 0, 0, 0.2);
  }

  &-name {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-name--inner {
    padding-left: 1rem;
    color: $gr-main;
    font-size: 1.6em;
  }

  &-input {
    width: 100%;
    appearance: none;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    -moz-appearance: textfield;
    color: #eeeeee;
    font-size: 1.2em;

    &:focus {
      outline: 1px solid gray;
      -moz-appearance: initial;
    }
    &:hover {
      -moz-appearance: initial;
    }
    &:disabled {
      background: repeating-linear-gradient(
                      45deg,
                      rgba(0, 0, 0, 0.1),
                      rgba(0, 0, 0, 0.1) 10px,
                      rgba(0, 0, 0, 0.2) 10px,
                      rgba(0, 0, 0, 0.2) 20px
      );
      color: rgba(238, 238, 238, 0.2);
      -moz-appearance: textfield;
    }
  }
}