@import "variables";
//@import "src/components/mainClass/main-class";
//@import "src/components/configPanel/configPanel";
//@import "src/components/tooltip/tooltip";
//@import "src/components/rulers/rulers";
@import "src/components/bar/bar";
//@import "src/components/progress/progress";
@import "src/components/thumb/thumb";

html, * {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  //padding: 1rem;
  //height: 100vh;
  background-color: #35363a;
  //display: flex;
  //justify-content: center;
  margin: 2rem;
  display: flex;
  justify-content: center;
}

//.first {
//  width: 500px;
//}

.cont {
  width: 500px;
  height: 500px;
}

.slider-app {
  width: 100%;
  height: 100%;
}

.slider-app__fill {
  width: 0%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(90deg, rgb(255, 229, 59) 0%, rgb(255, 37, 37) 100%);
}