@import "../../assets/style/variables";

.slider-app {
  &__line {
    width: 100%;
    height: 8px;
    background: rgba(0,0,0,.2);
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 100%;
      width: 10px;
      height: 8px;
      background: $gr-main;
      border-radius: 6px 0 0 6px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      width: 10px;
      height: 8px;
      background: rgba(0,0,0,.2);
      border-radius: 0 6px 6px 0;
    }
  }
  //&__bar-line {
  //  width: 100%;
  //  height: 8px;
  //  background-color: rgba(0, 0, 0, 0.2);
  //  outline: none;
  //  position: relative;
  //  border-radius: 6px;
  //
  //  &--vertical:not(span) {
  //    transform: rotate(-90deg);
  //  }
  //}
}