@import "src/assets/style/variables";

.slider-app__config {
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  position: absolute;
  top: 105%;

  &-section {
    display: flex;
    column-gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1rem;
  }

  &-container {
    width: 9rem;
    height: 2rem;
    display: flex;
    position: relative;
    font-family: sans-serif;
    justify-content: flex-end;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 10px 20px 1px rgba(0, 0, 0, 0.2);
  }

  &-text {
    width: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &--inner {
      padding-left: 1rem;
      color: $gr-main;
    }
  }

  &-input {
    width: 5rem;
    appearance: none;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    -moz-appearance: textfield;
    color: #eeeeee;
    padding: 5px;

    &:focus {
      outline: 1px solid gray;
      -moz-appearance: initial;
    }
    &:hover {
      -moz-appearance: initial;
    }
    &:disabled {
      background: repeating-linear-gradient(
                      45deg,
                      rgba(0, 0, 0, 0.1),
                      rgba(0, 0, 0, 0.1) 10px,
                      rgba(0, 0, 0, 0.2) 10px,
                      rgba(0, 0, 0, 0.2) 20px
      );
      -moz-appearance: textfield;
    }
  }

  &-toggle-container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    font-family: sans-serif;
  }

  &-toggle-name {
    color: $gr-main;
    cursor: pointer;
  }

  &-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    box-shadow: 2px 10px 20px 1px rgba(0, 0, 0, 0.2);
  }

  &-toggle-box {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &-toggle-btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: .4s;
    transition: .4s;

    &::before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: $gr-main;
      -webkit-transition: .4s;
      transition: .4s;
      opacity: 0.4;
    }
  }

  &-toggle-box:focus + &-toggle-btn {
    box-shadow: 0 0 1px #2196F3;
    outline: 1px solid gray;
  }

  &-toggle-box:checked + &-toggle-btn::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    opacity: 1;
  }
}