.slider-app {
  &__rulers {
    position: absolute;
    content: "";
    bottom: 4.5rem;
    right: 15px;
    left: 9px;
    height: 15px;
    border-right: 1px solid #686868;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: linear-gradient(to right, #686868 1px, transparent 2px);
      background-size: 10% 100%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 30px;
      bottom: 0;
      right: 0;
      left: 0;
      background: linear-gradient(to right, #686868 1px, transparent 2px);
      background-size: 100% 2%;
    }

    &--vertical {
      position: absolute;
      content: "";
      top: 41%;
      right: -21px;
      left: 48px;
      height: 3%;
      border-right: 1px solid #686868;
      transform: rotate(-90deg);
    }
  }

  &__rulers-values {
    position: absolute;
    bottom: 3.5rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    & > * {
      transition: color ease-in-out .1s;
      &:hover {
        color: #ffffff;
      }
    }

    & > * {
      &:not(:first-of-type) {
        padding-left: 5px;
      }
      cursor: pointer;
      font-size: 12px;
      font-weight: 700;
      font-family: sans-serif;
      width: 18px;
      display: flex;
      justify-content: center;
      padding-right: 5px;
      text-align: center;
    }

    &--vertical {
      top: 39%;
      left: 70px;
      width: 100%;
      transform: rotate(-90deg);

      & > * {
        transform: rotate(90deg);
        justify-content: flex-start;
      }
    }
  }
}