doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Range Slider App
        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    body
        //.slider-container
        //    span.slider__rulers
        //    span.slider__bar
        //        span.slider__fill
        //    input(type="range" class="slider__input" min="0" max="100" value="50" step="10")